body{
    margin:0px;
    padding: 0px;
    font-family: calibri;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{

    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
}
.logo img{
    height: 80px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
    background-color:#fff;
    box-shadow: 8px 8px 20px rgba(0, 34, 255, 0.711);
    border-left:2px solid rgba(0, 34, 255, 0.711); 
    border-right: 2px solid rgba(0, 34, 255, 0.711);
    z-index: 1;
    width:100%;
    height: 130px;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav a div{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: #052c75;
    position: relative;
}
nav ul{
    display: flex;
}

nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 10px;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}
.active{
    background-color: #198645;
    color: #fff;
}

.active:hover{
    border-radius: 5px;
    background-color: #d42424;
    color:#fff;
    box-shadow: 5px 10px 30px rgb(120, 12, 12);
    transition: 0.2s;
}
nav ul li a:hover{
    border-radius: 5px;
    background-color: #198645;
    color:#fff;
    box-shadow: 5px 10px 30px rgb(7, 80, 38);
    transition: 0.2s;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:90%;

}
.home-img{
    width:500px;
    height:400px;
    margin:30px;
    position: relative;
    display: inline;
    justify-content: space-around;
}
.home-img.gear1{
    width: 20%;
    height: 20%;
    object-fit: contain;
    object-position: top;
}
.home-img.hero6{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}

.home-text{
    width:500px;
    margin: 20px;
}

.roller-text{
    width:500px;
    display:flex;
    text-align:left;
}

.home-text h1{
    text-align:left;
    color: #F1FAEE; 
    font-size: 3rem;
    font-family: 'Arvo';
}

.roller{
    font-size: 1.80rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c0deff;
    left:-7%;
}

#spare-time{
    font-size: 1.25rem;
    letter-spacing: 0.75rem;
    margin-top: 0;
    color: #8ff7fb;
}

.roller #rolltext{
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
}

@keyframes slide {
    0%{top:0;}
    25%{top: -4rem;}
    50%{top: -8rem;}
    72.5%{top: -12.25rem;}
}

.main-login{
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F14D5D;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(219, 74, 6, 0.5);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.main-login:hover{
    background-color: #F14D5D;
    transition: all ease 0.3s;
}

.arrows {
	width: 100px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
    top: 110%;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


footer{
    width:100%;
    height: 100px;
    padding: 0px 5%;
    border-top: 1px solid rgba(231, 9, 9, 0.2);
    display: flex;
    justify-content: space-around;
}

.footer-text{
    margin: 35px;
    color:#000000;
    display: flex;
    justify-content:left;
}

.fa {
    margin: 10px;
    padding: 20px;
    font-size: 150px;
    width: 55px;
    text-decoration: none;
    border-radius: 50%;  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;     
}
  
.fa-twitter{
    background: #55ACEE;
    color: white; 
}

.fa-instagram{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

.fa-youtube{
    background: red;
    color: white;
}

nav .menu-btn{
    display: none;
}
